*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(19, 75, 26, 0.815);
    color: white;
    font: 11pt Tahoma;
}
.h2-img{
    text-align: center;
    margin-top: 40px;     
}
.h2-img img{
    width: 85px;
    text-align: center;
    margin-top: 40px;
}
.header{
    color: white;
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.header img{
    width: 25px;
}
.box{
    height: 280px;
    margin-top: 35px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.49);
    border-radius: 3px;
}
.input-container{
    margin-bottom: 11px;
    margin-top: 2px;
}
.input-container input{
    height: 26px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
}
#comCarencia{
    width: 20px; 
    cursor: pointer;
}
.checkbox-carencia{
    text-align: center;
    border-radius: 10px;
}
#listaSuspensa{
    border: 2px solid black;
    border-radius: 4px;
}
#botaoCalcular{
    background-color: rgba(255, 166, 0, 0.788);
    color: white;
    width: 100px;
    height: 29px;
    border-radius: 4px;
    cursor: pointer;
}
#botaoCalcular:hover{
    transform: translate(-1.5px);
}
tr:nth-child(even){
    background-color: rgba(255, 166, 0, 0.425);
}
table{
    visibility: collapse;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}